@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fade in slide down animation */
@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-slide-down {
  animation: fadeInSlideDown 1s ease forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

@keyframes fadeOutTop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fadeOutBottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* Utility classes for fade animations */
.fade-in-left {
  animation: fadeInLeft 1s ease forwards;
}

.fade-in-right {
  animation: fadeInRight 1s ease forwards;
}

.fade-in-up {
  animation: fadeInUp 1s ease forwards;
}

.fade-in-down {
  animation: fadeInDown 1s ease forwards;
}

.fade-out-left {
  animation: fadeOutLeft 1s ease forwards;
}

.fade-out-right {
  animation: fadeOutRight 1s ease forwards;
}

.fade-out-top {
  animation: fadeOutTop 1s ease forwards;
}

.fade-out-bottom {
  animation: fadeOutBottom 1s ease forwards;
}
